################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC/Private.Web/wwwroot/css/BigZip.zip
/POC/Private.Web/wwwroot/css/notsobig.zip
/POC/Private.Web/wwwroot/css/25mb.zip
/Private.Agent.Beta/bin/Debug/net8.0
/Private.Agent.Alpha/bin/Debug/net8.0
/Private.Agent.Alpha/obj/Debug/net8.0
/Private.Agent.Beta/obj
/Private.Agent.Alpha/obj
/Private.Agent.Charlie
